<div class="container">
  <h1><%= @restaurant.name %></h1>

  <table class="table">
    <tr>
      <th>Address</th>
      <th>Category</th>
      <th>Phone Number</th>
    </tr>
    <tr>
      <td><%= @restaurant.address %></td>
      <td><%= @restaurant.category %></td>
      <td><%= @restaurant.phone_number %></td>
    </tr>
  </table>

  <p> <%= link_to 'All restaurants', restaurants_path %></p>

</div>
